body{
    background-image: url(photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0%, 100%, 0.1);
    width: 100%;
}