#checkbox{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}
body{
    text-align: center;
}
label{
    font-size: 2em;
}
legend{
    font-size: 3em;
    margin: 10px 0;
}
#lab{
    font-size: 3em;
}
button{
    margin: 20px;
    padding: 10px 26px;
    font-size: 1.4em;
    color: yellow;
    background-color: green;
    border-radius: 20px;
    transition: color 2s;
}
button:hover{
    color: red;
}
p{
    font-size: 3.4em;
}