body{
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

h1{
    color: darkblue;
}

form{
    background-color: white;
    text-align: center;
    max-width: 300px;
    margin: 80px auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(42, 44, 49, 0.6);
}

#textbox{
    width: 40%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin-bottom: 30px;
}

label{
    font-size: 1.4em;
    font-weight: bold;
}

button{
    margin-top: 40px;
    background-color: yellow;
    color: red;
    width: 8em;
    height: 2.4em;
    margin-bottom: 40px;
    border-radius: 20px;
    border: none;
    padding: 10px 14px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.719);
    color: white;
}

#result{
    font-size: 1.4em;
    font-weight: bold;
}