body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.822);
    border-radius: 14px;
    max-width: 500px;
}
#display{
    width: 91.4%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    background-color: rgba(83, 81, 81, 0.925);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 30px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(145, 145, 145);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(180, 180, 180);
}
button:active{
    background-color: rgb(196, 196, 196);
    color: rgba(0, 0, 0, 0.637);
}
.op-btn{
    background-color: rgba(255, 166, 0, 0.829);
}
.op-btn:hover{
    background-color: rgba(255, 166, 0, 0.904);
}
.op-btn:active{background-color: rgb(255, 166, 0);
}
#clr-btn{
    background-color: greenyellow;
    color: rgba(0, 0, 0, 0.836);
}
#clr-btn:hover{
    background-color: rgba(172, 255, 47, 0.884);
    color: rgba(0, 0, 0, 0.836);
}
#clr-btn:active{
    background-color: rgba(172, 255, 47, 0.61);
    color: white;
}
