body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.8);
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 7.6rem;
    min-width: 160px;
    margin: 0 20px;
    border-radius: 200px;
    background-color: rgb(5, 15, 87);
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.choices button:hover{
    background-color: rgb(55, 72, 206);
}
.choices button:active{
    background-color: transparent;
    border: none;
}
#playerdisplay, #computerdisplay{
    font-size: 2.6rem;
    margin: 4px 0;
}
#resultdisplay{
    font-size: 5rem;
    margin: 40px 0;
}
.scoredisplay{
    font-size: 2rem;

}
.greentext , #playerscoredisplay{
    color: rgb(43, 209, 43);
}
.redtext , #computerscoredisplay{
    color: rgb(231, 66, 66);
}