#cont{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 1.6rem;
    padding: 10px 16px;
    border-radius: 20px;
    border-width: 1px;
    background-color: rgb(116, 116, 209);
    color: rgb(252, 209, 209);
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(69, 69, 139);
    color: rgb(255, 254, 254);
}
button:active{
    background-color: rgb(45, 45, 168);
    color: black;
}

input{
    font-size: 2rem;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

#diceResult{
    margin: 40px;
}

#diceImage img{
    margin: 10px;
    width: 100px;
}