body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(189, 186, 186, 0.288);
}
#myh1{
    font-size: 4rem;
    font-family: "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.788);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid;
    border-radius: 30px;
    padding: 20px;
    background-color: white;
}
#display{
    font-size: 4rem;
    font-family: monospace;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.815);
    text-shadow: 2px 2px 2px;
    margin-bottom: 30px;
}
#control button{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 4px;
    min-width: 130px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: whitesmoke;
    transition: background-color 0.8s ease;
}
#startBtn{
    background-color: rgba(0, 136, 0, 0.89);
}
#startBtn:hover{
    background-color: rgb(0, 121, 0);
}
#startBtn:active{
    background-color: rgb(0, 80, 0);
}
#resetBtn{
    background-color: rgba(255, 0, 0, 0.678);
}
#resetBtn:hover{
    background-color: rgba(207, 0, 0, 0.973);
}
#resetBtn:active{
    background-color: rgba(168, 1, 1, 0.911);
}
#stopBtn{
    background-color: rgba(128, 128, 128, 0.507);
}
#stopBtn:hover{
    background-color: rgba(128, 128, 128, 0.747);
}
#stopBtn:active{
    background-color: rgb(128, 128, 128);
}
